.hero-and-wsaoo{
  background-image: url(../images/Rectangle694.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
/* Hero */
.hero-container{
  justify-content: space-between;
}

.hero-list {
  width: 502px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}
.hero-text {
  color: var(--Black);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 40px;
}
.hero-slog {
  color: var(--Black);
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 57.6px;
  margin-bottom: 28px;
}
.hero-arrow{
    width: 56px;
height: 48px;
border: none;
border-radius: 8px;
cursor: pointer;
}
.hero-photo {
  background-image: url(../images/Group61.png);
  background-size: 580px 580px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  width: 608px;
  height: 580px;
  box-sizing: content-box;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Whats-Special-About-Our-Offerings(wsaoo) */
.Whats-Special-About-Our-Offerings {
  padding-top: 24px;
  padding-bottom: 100px;
}

.wsaoo-content {
  margin-left: 160px;
  padding-top: 83px;
}
.wsaoo-title {
  color: var(--Black);
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50.4px;
  width: 500px;
}
.wsaoo-sent {
  color: var(--Black);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 500px;
  margin-top: 20px;
}
.wsaoo-button {
  border-radius: 30px;
  border: 2px solid var(--Dark-green, #7eb101);
  background: #fff;
  display: inline-flex;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 20px;
  box-sizing: content-box;
  color: var(--Black);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 19.5px;
  margin-top: 32px;
}
.wsaoo-item {
  width: 253px;
}
.wsaoo-list {
  margin-top: 40px;
  display: flex;
  column-gap: 67px;
}
.wsaoo-slog {
  color: var(--Black);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.2px;
  margin: 8px 0px 16px 0px;
}
.wsaoo-info {
  color: var(--Black);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.wsaoo-img{
  display: flex;
  justify-content: center;
  align-content: center;
  height: 502px;
}

/* Some of Our Favourites(sof) */
.Some-of-Our-Favorites {
  padding-top: 100px;
  padding-bottom: 141px;
}

.sof-container {
  flex-direction: column;
}
.sof-title {
  color: var(--Black);
  text-align: center;
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.sof-text {
  color: var(--Black);
  text-align: center;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
}
.sof-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  margin-top: 81px;
  justify-content: center;
  width: 1248px;
}

.sof-item{
  border: 16px solid var(--Yellow-main, #FFE550);
  background: var(--White, #FEFEFE);
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.sof-item:nth-child(1), .sof-item:nth-child(3), .sof-item:nth-child(4), .sof-item:nth-child(6){
  width: 395px;
height: 397px;
border-radius: 197.5px;
}

.sof-item:nth-child(2), .sof-item:nth-child(5){
  width: 394px;
  height: 397px;
  border-radius: 197px;
}

.sof-item:hover{
  border: 16px solid var(--Button-green, #BBF330);;
}

.sof-image {
  flex-basis: calc((100% - 2 * 32px) / 3);
  width: 315px;
height: 315px;
}
/* What-our-Customers-Say(wocs) */

.What-our-Customers-Say {
  background-color: var(--Yellow);
  padding-top: 100px;
  padding-bottom: 82px;
}

.wocs-container {
  flex-direction: column;
}

.wocs-title {
  color: var(--Black);
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.wocs-text {
  color: var(--Black);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 32px;
}

.wocs-accaunt {
  display: flex;
  column-gap: 16px;
  align-items: center;
}

.wocs-item {
  background-color: var(--white);
  width: 501px;
  height: 227px;
  padding: 14px;
  border-radius: 0px 30px 30px 30px;
}

.wocs-comment {
  color: var(--Black);
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 28px;
  margin-bottom: 40px;
}
.wocs-list {
  display: flex;
  column-gap: 139px;
}

.wocs-profile-image {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
}

.wocs-profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2px;
}

.wocs-profile-name {
  color: var(--Black);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
}

.wocs-profile-status {
  color: var(--Black);
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

/* Subscribe */
.subscribe {
  padding-top: 52px;
  padding-bottom: 64px;
}

.subscribe-text {
  display: flex;
  flex-direction: column;
  padding-top: 46px;
  padding-bottom: 36px;
}

.subscribe-title {
  color: var(--Black);
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 50.4px;
}
.subscribe-info {
  color: var(--Black);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 20px;
  margin-bottom: 24px;
}

.subscribe-input {
  height: 42px;
  padding: 12px 57px 12px 12px;
  flex: 1 0 0;
  border-radius: 30px;
  border: 0.854px solid var(--Yellow-main, #ffe550);
  background: var(--white);
  width: 395px;
}

.subscribe-button {
  display: inline-flex;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background: var(--Button-green, #bbf330);
  border: none;
  margin-left: 32px;
}
